<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Dashboard</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron text-center">
    <h1 class="display-3" id="landing_title">The University of Auckland</h1>
    <h3 class="display-5" th:text="${userName}">Welcome</h3>
</div>
<div class="container text-center">
    <div class="card bg-secondary text-white">
        <div class="card-body">
            <h4 class="card-title">Add New Course</h4>
            <p class="card-text">Add one new Course when a new curriculum emerges.</p>
            <button class="btn btn-primary" style="width:150px" role="button" onclick="location.href = 'addNewCourse';" id="btnAddNewCourse">Add New Course</button>
        </div>
    </div>
</div>
<div class="container text-center mt-5">
    <div class="card bg-secondary text-white">
        <div class="card-body">
            <h4 class="card-title">Update Course</h4>
            <p class="card-text">Update Courses when course information changes.</p>
            <button class="btn btn-primary" style="width:150px" role="button" onclick="location.href = 'coursemanage';" id="btnUpdateCourse">Manage Course</button>
        </div>
    </div>
</div>
</body>
</html>