<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Course Detail Information</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end">
    <a class="navbar-brand" href="studentDashboard">Dashboard</a>
    <button class="btn btn-success ml-auto mr-1" type="submit" onclick="location.href = 'cart';"
            id="btnCart">Enrolment Cart
    </button>
    <button class="btn btn-danger mr-1" type="submit" onclick="location.href = '/';"
            id="btnLogout">Logout
    </button>
</nav>
<div class="jumbotron text-center">
    <h1 class="display-5" id="page_title">Course Detail Information</h1>
</div>

<div class="container">
    <!--/*@thymesVar id="course" type="com.a5.group18.pojo.Course"*/-->
    <div class="row" th:object="${course}">
        <div class="row">
            <div class="col-md">
                <h5>Course Number</h5>
                <p th:text="${course.getCourseNumber()}"></p>
            </div>
            <div class="col-md">
                <h5>Course Title</h5>
                <p th:text="${course.getCourseTitle()}"></p>
            </div>
            <div class="col-md">
                <h5>Class Number</h5>
                <p th:text="${course.getClassNbr()}"></p>
            </div>
            <div class="col-md">
                <h5>Subject</h5>
                <p th:text="${course.getSubject()}"></p>
            </div>
            <div class="col-md">
                <h5>Point</h5>
                <p th:text="${course.getPoint()}"></p>
            </div>
            <div class="col-md">
                <h5>Status</h5>
                <p th:text="${course.getCourseStatus()}"></p>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-primary" id="btnAddToCart" data-toggle="modal"
            data-target="#myModal">Add to cart
    </button>
</div>
<div class="container">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="alert alert-success alert-dismissible">
                <a class="close" data-dismiss="modal" aria-label="close" id="btnCloseAlert">&times;</a>
                <strong>Success!</strong> You have added a course to enrollment cart.
            </div>
        </div>
    </div>
</div>
</body>
</html>
