<!DOCTYPE html>
<html lang="en">
    <head lang="en">
        <title>UoA Enrollment System</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="jumbotron text-center">
            <img src="https://www.kb.sit.auckland.ac.nz/files/2015/10/uoa-v-colour2.png" alt="Logo" class="img-responsive" width="10%" height="10%">
            <h1 class="display-3">UoA Course Enrollment System</h1>
            <p>Please login via UoA SSO</p>
            <button class="btn btn-primary" style="width:150px" role="button" onclick="location.href = 'login';" id="btnLogin">Login</button>
        </div>
    </body>
</html>