<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.2.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
<head>
    <meta charset="UTF-8">
    <title>My Enrollment</title>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end">
    <a class="navbar-brand" href="studentDashboard">Dashboard</a>
    <button class="btn btn-success ml-auto mr-1" type="submit" onclick="location.href = 'cart';"
            id="btnCart">Enrolment Cart
    </button>
    <button class="btn btn-danger mr-1" type="submit" onclick="location.href = '/';"
            id="btnLogout">Logout
    </button>
</nav>

<div class="jumbotron text-center">
    <h1 class="display-3" id="landing_title">My Concession</h1>
</div>

<div class="container">
    <div class="mb-4">
        <h4>Semester 1</h4>
    </div>

    <table class="table">
        <thead style="background-color: #00457d">
        <tr style="color:white">
            <th scope="col">Course Number</th>
            <th scope="col">Concession Status</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr scope="row"  th:each="concession : ${concessionList}">
            <td th:text="${concession.getCourseName()}" >
            </td>
            <td > <i>Concession_Pending</i></td>
            <td id = "enrollAction" >
                <button type="button" href="#"  data-toggle="modal" data-target="#modalCenter" class="btn btnEdit" style="background-color: #009AC7; color:white">Edit</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

