<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search Course</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end">
    <a class="navbar-brand" href="studentDashboard">Dashboard</a>
    <button class="btn btn-success ml-auto mr-1" type="submit" onclick="location.href = 'cart';"
            id="btnCart">Enrolment Cart
    </button>
    <button class="btn btn-danger mr-1" type="submit" onclick="location.href = '/';"
            id="btnLogout">Logout
    </button>
</nav>
<div class="jumbotron text-center">
    <h1 class="display-5" id="page_title">Search Course</h1>
    <h3 class="display-5" id="sub_title">Search by different criteria</h3>
</div>
<!--<div class="row justify-content-center align-items-center h-100">-->
<!--    <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">-->
<div class="container">
    <!--    Subject           -->
    <div class="form-group">
        <div class="input-group-prepend">
            <label for="subject" class="input-group-text">Subject</label>
            <select class="form-control" id="subject" name="subject">
                <option th:each="subjectOpt : ${T(com.a5.group18.enumerated.Subject).values()}"
                        th:value="${subjectOpt}" th:text="${subjectOpt}"></option>
            </select>
        </div>
    </div>
    <!--    Course number            -->
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Course Number</span>
            <input type="text" class="form-control" placeholder="Search by Course Number" id="courseNbr"
                   name="courseNbr" style="width:970px">
        </div>
    </div>

    <!--    Course Title            -->
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Course Title</span>
            <input type="text" class="form-control" placeholder="Search by Course Title" id="courseTitle"
                   name="courseTitle" style="width:1000px">
        </div>
    </div>

    <!--    Status           -->
    <div class="form-group">
        <div class="input-group-prepend">
            <label for="status" class="input-group-text">Status</label>
            <select class="form-control" id="status" name="status">
                <option th:each="statusOpt : ${T(com.a5.group18.enumerated.Status).values()}"
                        th:value="${statusOpt}" th:text="${statusOpt}"></option>
            </select>
        </div>
    </div>
    <!--    Course Career           -->
    <div class="form-group">
        <div class="input-group-prepend">
            <label for="courseCareer" class="input-group-text">Course Career</label>
            <select class="form-control" id="courseCareer" name="courseCareer">
                <option th:each="courseCareerOpt : ${T(com.a5.group18.enumerated.CourseCareer).values()}"
                        th:value="${courseCareerOpt}" th:text="${courseCareerOpt}"></option>
            </select>
        </div>
    </div>

    <!--    Class number            -->
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Class Number</span>
            <input type="text" class="form-control" placeholder="Search by Class Number" id="classNbr"
                   name="classNbr" style="width:980px">
        </div>
    </div>

    <!--    Point           -->
    <div class="form-group">
        <div class="input-group-prepend">
            <label for="point" class="input-group-text">Point</label>
            <select class="form-control" id="point" name="point">
                <option>15</option>
                <option>30</option>
                <option>60</option>
                <option>120</option>
            </select>
        </div>
    </div>
    <!--    Course Component           -->
    <div class="form-group">
        <div class="input-group-prepend">
            <label for="courseComp" class="input-group-text">Select Course Component</label>
            <select class="form-control" id="courseComp" name="courseComp">
                <option th:each="courseCompOpt : ${T(com.a5.group18.enumerated.CourseComponent).values()}"
                        th:value="${courseCompOpt}" th:text="${courseCompOpt}"></option>
            </select>
        </div>
    </div>
    <!--    Campus           -->
    <div class="form-group">
        <div class="input-group-prepend">
            <label for="campus" class="input-group-text">Campus</label>
            <select class="form-control" id="campus" name="campus">
                <option th:each="campusOpt : ${T(com.a5.group18.enumerated.Campus).values()}"
                        th:value="${campusOpt}" th:text="${campusOpt}"></option>
            </select>
        </div>
    </div>
    <div>
        <button type="submit" role="button" class="btn btn-primary" id="search"
                onclick="location.href = 'searchResult';">Search
        </button>
    </div>
</div>

</body>
</html>