<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search Result</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end">
    <a class="navbar-brand" href="studentDashboard">Dashboard</a>
    <button class="btn btn-success ml-auto mr-1" type="submit" onclick="location.href = 'cart';"
            id="btnCart">Enrolment Cart
    </button>
    <button class="btn btn-danger mr-1" type="submit" onclick="location.href = '/';"
            id="btnLogout">Logout
    </button>
</nav>
<div class="jumbotron text-center">
    <h1 class="display-5" id="page_title">Search Result</h1>
</div>
<div class="container">
    <table class="table">
        <thead style="background-color: #00457d">
        <tr style="color:white">
            <th scope="col">Course Number</th>
            <th scope="col">Course Title</th>
            <th scope="col">Status</th>
            <th scope="col">Add to Cart</th>
            <th scope="col">View Detail</th>
            <th scope="col">Enrol</th>
        </tr>
        </thead>
        <tbody>
        <tr th:class="${courses.getCourseNumber()}" th:each="courses : ${courses}">
            <td id="courseNum">
                <a th:href="@{'/courseinformation/'+${courses.getCourseNumber()}}"  th:text="${courses.getCourseNumber()}"></a>
            </td>
            <td id="courseTitle" th:text="${courses.getCourseTitle()}"></td>
            <td id="enrollStatus" th:text="${courses.getCourseStatus()}"></td>
            <td>
                <button type="button" class="btn btn-primary" id="btnAddToCart" data-toggle="modal"
                        data-target="#myModal">Add to cart
                </button>

            </td>
            <td>
                <button type="button" class="btn btn-primary" onclick="location.href = 'detailInformation';" id="btnViewDetail">
                    View Detail
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-primary" id="btnEnrol">
                    Enrol
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="alert alert-success alert-dismissible">
                <a class="close" data-dismiss="modal" aria-label="close" id="btnCloseAlert">&times;</a>
                <strong>Success!</strong> You have added a course to enrollment cart.
            </div>
        </div>
    </div>
</div>
</body>
</html>